# Build
/ai-service/target/
/analytics-service/target/
/application-service/target/
/auth-service/target/
/common-service/target/
/enterprise-service/target/
/gateway-service/target/
/job-service/target/
/notification-service/target/
/recommendation-service/target/
/resume-service/target/
/sms-service/target/
/student-service/target/

# Logs
*.log
logs/

# IDE
.idea/
.vscode/
.trae/
*.iml

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# Temp
temp_sql.sql
qc
.claude/
